.demo-wrapper table {
  border-collapse: unset;
  display: table;
  margin-bottom: unset;
  overflow: unset;
}

.demo-wrapper table thead tr {
  border-bottom: unset;
}

.demo-wrapper table thead {
  background-color: unset;
}

.demo-wrapper table tr {
  background-color: unset;
  border-top: unset;
}

.demo-wrapper table tr:nth-child(2n) {
  background-color: unset;
}

.demo-wrapper table th,
.demo-wrapper table td {
  border: unset;
  padding: unset;
}

.demo-wrapper table th {
  background-color: unset;
  color: unset;
  font-weight: unset;
}

.demo-wrapper table td {
  color: unset;
}
