.xph-dialog-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
  z-index: 999;
}

.xph-dialog-wrapper {
  position: absolute;
  z-index: 999;
  background-color: #fff;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.06);
}
.dialog__header {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  cursor: move;
  user-select: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.dialog__header-btns {
  display: flex;
  gap: 16px;
}
.dialog__main {
  flex: 1;
  height: 0;
  box-sizing: border-box;
  padding: 16px;
  overflow-y: auto;
}
.dialog__footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
/** 拖拽样式============================start */
.dialog__resize {
  position: absolute;
  width: 8px;
  height: 8px;
  user-select: none;
}

.dialog__resize-lt {
  top: 0;
  left: 0;
  cursor: nw-resize;
}

.dialog__resize-rt {
  top: 0;
  right: 0;
  cursor: ne-resize;
}

.dialog__resize-rb {
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}

.dialog__resize-lb {
  bottom: 0;
  left: 0;
  cursor: ne-resize;
}
/** 拖拽样式============================end */
