.minimize-windows {
  position: absolute;
  /* left: 0;
  top: 0; */
  z-index: 999;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 250px;
  transform: translate(-50%, -50%);
  padding: 4px;
  background-color: #fff;
  cursor: move;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.06);
}
.minimize-windows-title {
  /* 超出省略 */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.minimize-windows-operate {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
}
