.minimize-windows {
  position: absolute;
  /* left: 0;
  top: 0; */
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 250px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: 1px solid black;
  padding: 4px;
  background-color: #ccc;
  cursor: move;
  user-select: none;
}
.minimize-windows-title {
  /* 超出省略 */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.minimize-windows-operate {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: nowrap;
}
